body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}
.container-fluid{
    margin: 0px !important;
    padding: 0px !important;
}
.navbar{
    background-color: #203345 !important;
}
.navbar-light .navbar-nav .nav-link {
    color: whitesmoke !important;
    font-size: 18px;
}
.navbar-light .navbar-nav .active>.nav-link {
    border-top: rgb(53, 204, 255) 3px solid;
    text-align: left;
    width: 60%;
    color: white;
    font-weight: 500;
    font-size: 18px;
}
.poster{
    height: 450px;
    position: relative;
    top: 100px;
    left: 60px;
    width: auto;
    display: block;
    border-radius: 1%;
}
.banner{
    height: auto;
    width: 100%;
}

.bg{
    background-color: #152535;
    margin: 0;
    padding: 0;
}
p{
    color: rgb(187, 187, 187);
    font-weight: 50;
}
.fan p{
    position: relative;
    padding-left: 3%;
    color: white;
    font-size: 26px;
    font-weight: 500;
}
.search{
    border: none;
    height: 30px;
    color: white;
    background-color: #152535;
    border-radius: 2%;
}
.icon:hover{
    color: white;
}
.icon{
    position: relative;
    top: 3px;
    right: 40px;
    color: whitesmoke;
}
.account, .account:hover{
    color: whitesmoke;
    padding-right: 10px;
}
.tr img{
    overflow: hidden;
    position: relative;
    left: 40px;
    border-radius: 2%;
    width: 140%;
    height: 100%;
}
.sub{
    position: relative;
    left: 100px;
    height: 90px;
    border-radius: 0px 0px 7px 7px;
    background-color:#203345;
    box-shadow: 0px 1px 2px rgb(26, 26, 26); 
   
}
.play img{
    height: 65px;
}
ul{
    list-style: none;
}
.add h1{
    position: relative;
    left: 1000%;
    display: block;
    color: whitesmoke;
    font-size: 56px;
}
.back{
    background-color: #203345;
    height: 170px;
    width: 200px;
}
.more{
    background-color: #203345;
    height: 40px;
    border-radius: 2%;
}
.foot{
    background-color: #203345;
}
.social img{
    height: 60px;
    width: 60px;
}
.foot a{
    text-decoration: none !important;
    font-weight: 300;
    font-size: medium;
}
.gen img{
    position: relative;
    left: 50px;
    height: 110px;
    width: 220px;
    border-radius: 2%;
}
.gensub{
    position: relative;
    left: 105px;
    height: 25px;
    border-radius: 0px 0px 7px 7px;
    background-color:#203345;  
    box-shadow: 0px 1px 2px rgb(26, 26, 26); 
}
.lang img{
    height: 120px;
    position: relative;
    left: 25px;
}
@media only screen and ( max-width: 1000px){
    .poster{
        display: none;
    }
    .bg{ 
        display: flex;
        overflow-x: auto;
    }
    .fan p{
        position: sticky;
        
    }
    .sub{
        overflow-x: hidden;
        position: relative;
        left: 10px;
        height: 50px;
        border-radius: 0px 0px 5px 5px;
        box-shadow: 0px 1px 2px rgb(26, 26, 26); 
       
    }
    .play img{
        height: 20px;
    }
    .add h1{
        display: none;
    }
    .size h2{
        font-size: 16px;
        padding-top: 5px !important;
    }
    .size p{
        font-size: 10px;
        padding-top: 0px !important ;
    }
    .size span{
        display: none;
    }
    .gensub{
        position: relative;
        left: 60px;
        height: 25px;
        border-radius: 0px 0px 5px 5px;
    }
}
/* scrollbar */
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: transparent; 
}
::-webkit-scrollbar-thumb:hover {
    background: transparent; 
}
  .card {
    position: relative;
    width: 270px;
    margin: 0 auto;
    cursor: pointer;
    z-index: 2;
    transition: all .2s ease;
  }
  .card-body {
    flex: 1 1 auto;
    padding: 0 !important;
}
  .card:hover {
     transform: scale(1.03);
     z-index: 4;
  }
  .card .card-image {
    position: relative;
    width: 100%;
    height: 150px;
  }
  .card-image:hover{
      transform: scale(1.14);
  }
  .card-footer {
    display: flex;
    position: absolute;
    height: 120px;
    bottom: 5px;
    width: 100%;
    background-color: #152535 !important; 
    align-items: center;
    transition: all .2s ease;
    visibility: hidden;
  }
  
  .card-footer__title {
    font-size: small;
    color: whitesmoke;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  .card-footer__info small {
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: whitesmoke;
  }
  .card:hover .card-footer {
    bottom: -120px;
    transform: scale(1.12);
    box-shadow: 0px 1px 2px rgb(26, 26, 26); 
    visibility: visible;
  }